//Colors

$blackColor:rgb(8, 5, 5);
$blueColor:rgb(16, 16, 80);
$whiteColor:white;
$grayColor:rgb(98, 95, 95);
$redColor:rgb(209, 24, 24);
$fitColor:rgb(229, 229, 229);

//Fonts

$titleFont: "Times New Roman", Times, serif;
$bodyFont: Verdana, Arial, sans-serif;


